---
permalink: "/resources/css/theme.css"
eleventyExcludeFromCollections: true
---
{% tpfetch tpConfig.remote + "resources/css/theme.css" %}
{% tpfetch tpConfig.remote + "resources/css/guidelines.css" %}